.payment-form {
  @include card;
  padding: rem($card-padding);
  width: rem($payment-form-width);
  @include mq('phone', max) {
    width: 100%;
    
  }
  &__item {
    @include bottom(rem(20px));
  }
}